/* src/components/Layout.css */

/* Para páginas COM Navbar */
.main-content-with-navbar {
    padding-top: 70px; /* SUBSTITUA 68px PELA ALTURA EXATA DO SEU NAVBAR */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box; /* Importante para que o padding não aumente a altura total */
    background-color: #111; /* Cor de fundo padrão para o conteúdo, se necessário */
  }
  
  /* Para páginas SEM Navbar (como a de Perfil, se ela usar o Layout) */
  .main-content-no-navbar {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #111; /* Cor de fundo padrão para o conteúdo, se necessário */
  }